* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
}

.main-content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.left-nav {
  display: flex;
}

.right-nav {
  display: flex;
}

#grid {
  height: 22px;
  width: 22px;
}